@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nick's Tasty Shit!</h1>
    <p class="lead">Welcome to the homepage of Nick's Tasty Shit </p>
    <img src="~/Assets/images/sandwich.jpg" />
</div>

<div class="row">
    
</div>