
@{
    ViewBag.Title = "Home Page";
}
<div class="banner">

</div>
<div class="container body-content">
    <div class="jumbotron">
        <h1>Hasty Taste</h1>
        <p class="lead">No time to waste!</p>
        <img src="~/Assets/images/sandwich.jpg" />
    </div>
</div>
<div class="row">

</div>
