
@{
    ViewBag.Title = "Home Page";
}
<div class="banner">
    <div class="container">
        
        <div class="banner-text"><p> <i>"Best sandwiches in the Barrie area! Come by and try out the Hasty Taste sandwiches."</i><br /><b> - Mat Rowlandson</b></p></div>
    </div>
</div>
<div class="strip1">
    <div class="container">
        <br />
        <div class="content-holder">
            <h1>Hasty Taste</h1>
            <p class="lead">We serve a variety of sandwiches!</p><br />
            <a class="superbutton" href="/MenuItems">Check Out Our Menu</a>
        </div>
    </div>
</div>
<div class="row">

</div>
